#cwrap .crow {
  margin: 10px 0;
  padding: 10px 0 15px 2px;
  border-bottom: 1px solid #ccc;
}

#cwrap .crow:last-child {
  border-bottom: none;
}

#cwrap .chead {
  margin-bottom: 10px;
}
#cwrap .cname {
  font-weight: bold;
}

#cwrap .cname a {
  color: #9acd32;
}

#cwrap .cname a:hover {
  color: #5c7b1e;
}

#cwrap .ctime {
  color: #aaa;
}

#cwrap .cnote {
  margin: 10px 0;
  padding: 10px 0 15px 2px;
}

#cadd {
  margin-top: 10px;
  background: #f2f2f2;
  padding: 15px;
}

#cadd input[type="text"],
#cadd textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  resize: none;
  font-size: 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#cadd textarea {
  height: 100px;
}

#cadd input[type="submit"] {
  margin-top: 10px;
  background: #9acd32;
  border: 0;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  text-transform: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#cadd input[type="submit"]:hover {
  background: #5c7b1e;
}
