.container--outer {
    margin: 0 auto;
}

@media screen and (max-width: 1220px) {
    .container--outer {
        width: 100%;
    }
}

.container {
    max-width: 1200px;
}

.logo__text, 
.menu__link,
.menu__btn-title,
.widget__title, 
.widget-taglist__link, 
.tags__item  {
    text-transform: none;
}

.menu__link {
    font-size: 90% !important;
    padding: 10px 15px !important;
}


@media screen and (max-width: 1160px) {

    .menu__link {
        padding: 10px 12px !important;
    }

}

@media screen and (max-width: 1090px) {

    .menu__link {
        font-size: 82% !important;
        padding: 10px 4px;
    }

}

@media screen and (max-width: 1018px) {

    .menu__link {
        font-size: 85% !important;
        padding: 10px;
        min-width: 130px;
    }

}

@media screen and (max-width: 767px) {

    .menu__link {
        font-size: 100% !important;
        padding: 10px;
        min-width: 130px;
    }

}

@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }

    .primary {
        margin-top: 60px;
    }

    .menu__btn {
        position: fixed;
        background-color: #9acd32;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;  
        z-index: 10000;
    }

    .menu__btn-burger {
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px 0;
    }

    .menu__btn-logo {
        margin-left: 20px;
        font-size: 20px;
    }

    .menu__btn--active, .menu__btn-logo a {
        color: #ffffff !important;
    }

    .menu__list {
        position: fixed !important;
        height: 700px;
        margin-top: 48px;
        background-color: #9acd32;
        z-index: 10001;
        text-align: right;
        border-top: 1px solid #ffffff;
    }

    .menu__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-bottom: 6px;
        border-top: 1px solid #ffffff;
        height: 35px;
        padding-right: 5px;
        
    }

    .menu__item--active {
        background-color: #7ba428;
       
    }
}

.post__thumbnail {
    max-width: 600px;
}

@media screen and (min-width: 1025px) {
    .list__thumbnail img {
        max-width: 400px;
    }
}

@media screen and (max-width: 620px) {

    .list__item {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    .list__thumbnail {
        max-width: 600px !important;
        margin-bottom: 5px;
    }  
    
    .list__thumbnail img {
        max-width: 600px !important;
    }  

    .list__item.post>div  {
        visibility: hidden !important;
    }
}

@media screen and (max-width: 860px) {

    .post__subtitle {
        margin-top: 10px;
    }
}


.foodie__figure {
    display: table;
}
.foodie__figure_img, .foodie__figure_caption {
    display: table-row;
    vertical-align: bottom;
}

.foodie__figure_caption {
    text-align: center;
    font-size: 90%;
    font-style: italic;
}

.widget__title {
    border-bottom-color: #2a2a2a;
    font-weight: bold;
    margin-bottom: 15px;
}

.btn {
    background-color: #9acd32; 
}

.btn:hover {
    background-color: #5C7F07;
}

.footer {
    background-color: #ffffff;
    border-top: none;
}

.footer__copyright-credits {
    display: none;
}

.cookie__container {
    background: #2f3640;
    bottom: -100%;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
    color: #f5f6fa;
    left: 0;
    padding: 20px 32px 10px 32px;
    position: fixed;
    right: 0;
    transition: 400ms;
  }
  
  .cookie__container.active {
    bottom: 0;
  }
  
  .cookie__container a {
    color: #f5f6fa;
    font-weight: bold;
  }
  
  .cookie__btn {
    background-color: #9acd32;
    border-radius: 0px;
    border: 0;
    color: #f5f6fa;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    padding: 10px 15px;
  }

  .pantry__icon {
    margin-left: 2px;
    width: 16px;
    height: 16px;
	fill: #c4c4c4;
}