<IfModule mod_rewrite.c>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Rewrite everything else through the d parameter
RewriteRule ^(.+)$ ?e=$1 [L]

# Reqwrite query ?e=xxx to Path \xxx
RewriteCond %{THE_REQUEST} ^GET\ /\?(([^&\s]*&)*)e=([^&\s]+)&?([^\s]*)
RewriteRule ^(.*)$ /%3?%1%4 [L,R=301]

</IfModule>