RewriteEngine on

RewriteCond %{HTTP_HOST} !^der.reisko.ch$
RewriteRule ^(.*)$ https://der.reisko.ch/$1 [R=301,L]

RewriteRule ^([0-9]+) /alt?e=$1 [L,R=301]

RewriteCond %{THE_REQUEST} ^GET\ /rezept/
RewriteRule ^rezept/(.*) /rezepte/$1 [L,R=301]

RewriteCond %{THE_REQUEST} ^GET\ /tools/
RewriteRule ^tools/(.*) /utensilien/$1 [L,R=301]

RewriteCond %{THE_REQUEST} ^GET\ /tools
RewriteRule ^tools /utensilien/ [L,R=301]

RewriteCond %{THE_REQUEST} ^GET\ /categories/
RewriteRule ^categories/(.*) /tags/$1 [L,R=301]

RewriteCond %{THE_REQUEST} ^GET\ /categories
RewriteRule ^categories /tags/ [L,R=301]

RewriteCond %{THE_REQUEST} ^GET\ /stichwort/
RewriteRule ^stichwort/(.*) /tags/$1 [L,R=301]

RewriteCond %{THE_REQUEST} ^GET\ /stichwort
RewriteRule ^stichwort /tags/ [L,R=301]

RewriteCond %{THE_REQUEST} ^GET\ /fluessiges/t
RewriteRule ^fluessiges/(.*) /getranke/$1 [L,R=301]

RewriteCond %{THE_REQUEST} ^GET\ /fluessiges
RewriteRule ^fluessiges /getranke/ [L,R=301]

RewriteCond %{THE_REQUEST} ^GET\ /zutaten/einkaufen
RewriteRule ^zutaten/einkaufen/(.*) /zutaten/ [L,R=301]



ErrorDocument 404 /nicht-gefunden/index.html