RewriteEngine on
RewriteCond %{THE_REQUEST} ^GET\ /rezept/
RewriteRule ^rezept/(.*) /rezepte/$1 [L,R=301]

RewriteCond %{THE_REQUEST} ^GET\ /tools/
RewriteRule ^tools/(.*) /utensilien/$1 [L,R=301]

RewriteCond %{THE_REQUEST} ^GET\ /categories
RewriteRule ^categories /tags/ [L,R=301]

RewriteCond %{THE_REQUEST} ^GET\ /categories/
RewriteRule ^categories/(.*) /tags/$1 [L,R=301]

ErrorDocument 404 /404.html